<!--Sondos-->
<!--user.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <%- include("partials/header.ejs") %>
        <%- include("partials/navbar.ejs") %>
        
        <!--User Profile-->
        <div class="card">
            <div class="top-panel">
                <ul>
                    <li><a href="#" id="generalLink" class="active" onclick="toggleFontWeight('generalLink'); toggleOption('general')">General</a></li>
                    <li><a href="#" id="infoLink" onclick="toggleFontWeight('infoLink'); toggleOption('info');">Info</a></li>
                    <li><a href="#" id="bmiLink" onclick="toggleFontWeight('bmiLink'); toggleOption('bmi');">BMI</a></li>
                    <li><a href="#" id="healthInfoLink" onclick="toggleFontWeight('healthInfoLink'); toggleOption('healthInfo');">Health Info</a></li>
                    <li><a href="#" id="socialLinksLink" onclick="toggleFontWeight('socialLinksLink'); toggleOption('socialLinks');">Social Links</a></li>
                    <li><a href="#" id="passwordLink" onclick="toggleFontWeight('passwordLink'); toggleOption('password');">Change Password</a></li>
                    
                    <li><a href="#" id="moreLink" onclick="toggleFontWeight('moreLink'); toggleOption('more');">More</a></li>
                  </ul>
            </div>

            <div class="top-panel-mobile">
                <ul>
                    <li><a href="#" id="socialLinksLink" onclick="toggleFontWeight('socialLinksLink'); toggleOption('socialLinks');">Social Links</a></li>
                    <li><a href="#" id="passwordLink" onclick="toggleFontWeight('passwordLink'); toggleOption('password');">Change Password</a></li>
                    
                    <li><a href="#" id="moreLink" onclick="toggleFontWeight('moreLink'); toggleOption('more');">More</a></li>
                  </ul>
              </div>

              <div class="bottom-panel-mobile">
                <ul>
                  <li><a href="#" id="socialLinksLink" onclick="toggleFontWeight('socialLinksLink'); toggleOption('socialLinks');">Social Links</a></li>
                  <li><a href="#" id="passwordLink" onclick="toggleFontWeight('passwordLink'); toggleOption('password');">Change Password</a></li>
                  
                </ul>
              </div>

 <!-- General -->
 <div id="generalContent" class="content">
    <div class="user-profile">
      <img src="<%= user.Image %>" value="<%= user.Image %>" alt="Profile Picture" id="profilePic">
    </div>
    <div class="user-profile">
      <div class="general">
        <div class="general-section">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" value="<%= user.Firstname %>" readonly>
        </div>
        <div class="general-section">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" value="<%= user.Lastname %>" readonly>
        </div>
      </div>
      <div class="general">
        <div class="general-section">
          <label for="username">Username:</label>
          <input type="text" id="username" value="<%= user.Username %>" readonly>
        </div>
      </div>
      <div class="general">
        <div class="general-section">
          <label for="email">Email:</label>
          <input type="email" id="email" value="<%= user.Email%>" readonly>
        </div>
      </div>
     
    </div>
  </div>

  <div id="infoContent" class="content">
    <div class="ageNumber">
        <label for="age"><b>Age:</b></label>
        <input type="text" id="age" value="<%= user.age %>" readonly>
                    
        <label for="phoneNumber"><b>Phone Number:</b></label>
        <input type="text" id="phoneNumber" value="<%= user.phone %>" readonly>
        <div class="Space"></div>
                
        <div class="space"></div> 
    </div>  
    <label for="gender"><b>Gender:</b></label>
    <div id="gender">
        <input type="radio" id="male" name="Gender" value="male" 
        <%= user.Gender.trim().toLowerCase() === 'male' ? 'checked' : '' %> >
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="Gender" value="female" 
        <%= user.Gender.trim().toLowerCase() === 'female' ? 'checked' : '' %> >
    <label for="female">Female</label><br>
</div>
    <div class="space"></div>         
    <label for="country"><b>Country:</b></label>
    <select id="country" disabled>
        <option value="Egypt" <%= user.country === 'Egypt' ? 'selected' : '' %>>Egypt</option>
        <option value="Argentina" <%= user.country === 'Argentina' ? 'selected' : '' %>>Argentina</option>
        <option value="Australia" <%= user.country === 'Australia' ? 'selected' : '' %>>Australia</option>
        <option value="Austria" <%= user.country === 'Austria' ? 'selected' : '' %>>Austria</option>
        <option value="Belgium" <%= user.country === 'Belgium' ? 'selected' : '' %>>Belgium</option>
        <option value="Brazil" <%= user.country === 'Brazil' ? 'selected' : '' %>>Brazil</option>
        <option value="Canada" <%= user.country === 'Canada' ? 'selected' : '' %>>Canada</option>
        <option value="Chile" <%= user.country === 'Chile' ? 'selected' : '' %>>Chile</option>
        <option value="China" <%= user.country === 'China' ? 'selected' : '' %>>China</option>
        <option value="Colombia" <%= user.country === 'Colombia' ? 'selected' : '' %>>Colombia</option>
        <option value="Czech Republic" <%= user.country === 'Czech Republic' ? 'selected' : '' %>>Czech Republic</option>
        <option value="Denmark" <%= user.country === 'Denmark' ? 'selected' : '' %>>Denmark</option>
        <option value="Finland" <%= user.country === 'Finland' ? 'selected' : '' %>>Finland</option>
        <option value="France" <%= user.country === 'France' ? 'selected' : '' %>>France</option>
        <option value="Germany" <%= user.country === 'Germany' ? 'selected' : '' %>>Germany</option>
        <option value="Greece" <%= user.country === 'Greece' ? 'selected' : '' %>>Greece</option>
        <option value="Hong Kong" <%= user.country === 'Hong Kong' ? 'selected' : '' %>>Hong Kong</option>
        <option value="Hungary" <%= user.country === 'Hungary' ? 'selected' : '' %>>Hungary</option>
        <option value="India" <%= user.country === 'India' ? 'selected' : '' %>>India</option>
        <option value="Indonesia" <%= user.country === 'Indonesia' ? 'selected' : '' %>>Indonesia</option>
        <option value="Iran" <%= user.country === 'Iran' ? 'selected' : '' %>>Iran</option>
        <option value="Iraq" <%= user.country === 'Iraq' ? 'selected' : '' %>>Iraq</option>
        <option value="Ireland" <%= user.country === 'Ireland' ? 'selected' : '' %>>Ireland</option>
        <option value="Italy" <%= user.country === 'Italy' ? 'selected' : '' %>>Italy</option>
        <option value="Japan" <%= user.country === 'Japan' ? 'selected' : '' %>>Japan</option>
        <option value="Malaysia" <%= user.country === 'Malaysia' ? 'selected' : '' %>>Malaysia</option>
        <option value="Mexico" <%= user.country === 'Mexico' ? 'selected' : '' %>>Mexico</option>
        <option value="Netherlands" <%= user.country === 'Netherlands' ? 'selected' : '' %>>Netherlands</option>
        <option value="New Zealand" <%= user.country === 'New Zealand' ? 'selected' : '' %>>New Zealand</option>
        <option value="Norway" <%= user.country === 'Norway' ? 'selected' : '' %>>Norway</option>
        <option value="Pakistan" <%= user.country === 'Pakistan' ? 'selected' : '' %>>Pakistan</option>
        <option value="Philippines" <%= user.country === 'Philippines' ? 'selected' : '' %>>Philippines</option>
        <option value="Poland" <%= user.country === 'Poland' ? 'selected' : '' %>>Poland</option>
        <option value="Portugal" <%= user.country === 'Portugal' ? 'selected' : '' %>>Portugal</option>
        <option value="Russia" <%= user.country === 'Russia' ? 'selected' : '' %>>Russia</option>
        <option value="Saudi Arabia" <%= user.country === 'Saudi Arabia' ? 'selected' : '' %>>Saudi Arabia</option>
        <option value="Singapore" <%= user.country === 'Singapore' ? 'selected' : '' %>>Singapore</option>
        <option value="South Africa" <%= user.country === 'South Africa' ? 'selected' : '' %>>South Africa</option>
        <option value="South Korea" <%= user.country === 'South Korea' ? 'selected' : '' %>>South Korea</option>
        <option value="Spain" <%= user.country === 'Spain' ? 'selected' : '' %>>Spain</option>
        <option value="Sweden" <%= user.country === 'Sweden' ? 'selected' : '' %>>Sweden</option>
        <option value="Switzerland" <%= user.country === 'Switzerland' ? 'selected' : '' %>>Switzerland</option>
        <option value="Taiwan" <%= user.country === 'Taiwan' ? 'selected' : '' %>>Taiwan</option>
        <option value="Thailand" <%= user.country === 'Thailand' ? 'selected' : '' %>>Thailand</option>
        <option value="Turkey" <%= user.country === 'Turkey' ? 'selected' : '' %>>Turkey</option>
        <option value="Ukraine" <%= user.country === 'Ukraine' ? 'selected' : '' %>>Ukraine</option>
        <option value="United Arab Emirates" <%= user.country === 'United Arab Emirates' ? 'selected' : '' %>>United Arab Emirates</option>
        <option value="United Kingdom" <%= user.country === 'United Kingdom' ? 'selected' : '' %>>United Kingdom</option>
        <option value="United States" <%= user.country === 'United States' ? 'selected' : '' %>>United States</option>
        <option value="Vietnam" <%= user.country === 'Vietnam' ? 'selected' : '' %>>Vietnam</option>
    </select>
</div>

            
            <!-- BMI Content -->
            <div id="bmiContent" class="content" style="display: none;">
                <div class="user-profile">
                    <div class="heightWeight">
                        <label for="height">Height (cm):</label>
                        <input type="text" id="heightCm" value="<%= user.Height%>" readonly>
                    </div>
                    <div class="heightWeight">
                        <label for="weight">Weight (kg):</label>
                        <input type="text" id="weightKg" value="<%= user.Weight%>" readonly>
                    </div>
                    <div class="user-profile">
                        <div class="heightWeight">
                            <label for="height">Height (ft):</label>
                            <% if (arr.length > 0) { %>
                                <% const heightCm = user.Height; %>
                                <% const heightFt = (heightCm * 0.0328084).toFixed(1); %>
                                <input type="text" id="heightFt" value="<%= heightFt %>" readonly>
                            <% } else { %>
                                <input type="text" id="heightFt" value="" readonly>
                            <% } %>
                        </div>
                        <div class="heightWeight">
                            <label for="weight">Weight (lbs):</label>
                            <% if (arr.length > 0) { %>
                                <% const weightKg = user.Weight; %>
                                <% const weightLbs = (weightKg * 2.20462).toFixed(2); %>
                                <input type="text" id="weightLbs" value="<%= weightLbs %> lbs" readonly>
                            <% } else { %>
                                <input type="text" id="weightLbs" value="" readonly>
                            <% } %>
                        </div>
                    </div>
                </div>
                <section class="output">
                    <h3>Your BMI is</h3>
                    <p id="bmi">0</p>
                    <p id="desc">N/A</p>
                </section>
                <section class="bmi-scale">
                    <div style="--color:var(--underweight)">
                        <h4>UnderWeight</h4>
                        <p>&lt; 18.5</p>
                    </div>
                    <div style="--color:var(--normal)">
                        <h4>Normal</h4>
                        <p>18.5-25</p>
                    </div>
                    <div style="--color:var(--overweight)">
                        <h4>OverWeight</h4>
                        <p>25-30</p>
                    </div>

                    <div style="--color:var(--obese)">
                        <h4>Obese</h4>
                        <p>≥ 30</p>
                    </div>

                </section>
             </div>
            

             
        <div id="healthInfoContent" class="content" style="display: none;">
            <div class="user-profile">
                <label for="healthIssues">Health Issues:</label>
                <textarea id="health-issues" name="health-issues" rows="3" cols="50" placeholder="None" readonly><%= user.health_issues %></textarea>
            </div>
            <div class="info2-section">
                <label for="habits-goals">Health/Habit Goals:</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox"  id="sleep" class="checkbox-custom" name="goals" value="sleep" <%= user.goals.includes('sleep') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="sleep">Healthy sleep patterns</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="weight_loss" class="checkbox-custom" name="goals" value="weight_loss" <%= user.goals.includes('weight_loss') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="weight_loss">Weight loss</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hydration" class="checkbox-custom" name="goals" value="hydration" <%= user.goals.includes('hydration') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="hydration">Hydration goals</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="eating" class="checkbox-custom" name="goals" value="eating" <%= user.goals.includes('eating') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="eating">Healthy Eating</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="flexibility" class="checkbox-custom" name="goals" value="flexibility" <%= user.goals.includes('flexibility') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="flexibility">Flexibility training</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="strength" class="checkbox-custom" name="goals" value="strength" <%= user.goals.includes('strength') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="strength">Strength training</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="cardio" class="checkbox-custom" name="goals" value="cardio" <%= user.goals.includes('cardio') ? 'checked' : '' %> disabled>
                <label class="checkbox-label" for="cardio">Cardiovascular health</label>
            </div>
        </div>
    
    <!--social links-->
    <div id="socialLinksContent" class="content">
        <div class="user-profile">
            <div class="social-links">
                <i class="fa-brands fa-facebook"></i>
                <input type="text" id="facebookLink" value="<%= user.facebook %>" readonly>
                <a href="<%= user.facebook %>" target="_blank">Open</a>
                <div class="error" id="facebookLinkError"></div>
            </div>
            <div class="social-links">
                <i class="fa-brands fa-twitter "></i>
                <input type="text" id="twitterLink" value="<%= user.twitter %>" readonly>
                <a href="<%= user.twitter %>" target="_blank">Open</a>
                <div class="error" id="twitterLinkError"></div>
            </div>
            <div class="social-links">
                <i class="fa-brands fa-instagram"></i>
                <input type="text" id="instagramLink" value="<%= user.instagram %>" readonly>
                <a href="<%= user.instagram %>" target="_blank">Open</a>
                <div class="error" id="instagramLinkError"></div>
            </div>
            <div class="social-links">
                <i class="fa-brands fa-linkedin"></i>
                <input type="text" id="linkedinLink" value="<%= user.linkedin %>" readonly>
                <a href="<%= user.linkedin %>" target="_blank">Open</a>
                <div class="error" id="linkedinLinkError"></div>
            </div>
        </div>
    </div>

  <!--password-->
  <div id="passwordContent" class="content">
    <div class="user-profile">
        <div class="password-section">
            <label for="currentPassword">Current Password:</label>
            <div class="password-container">
                <input type="password" id="currentPassword" name="currentPassword">
                <div class="password-checkbox-container">
                    <input type="checkbox" id="showCurrentPassword" class="checkbox-custom">
                    <label for="showCurrentPassword" class="checkbox-label">Show Password</label>
                </div>
                <div class="error" id="currentPasswordError"></div>
            </div>
        </div>
        <div class="password-section">
            <label for="newPassword">New Password:</label>
            <div class="password-container">
                <input type="password" id="newPassword" name="newPassword">
                <div class="password-checkbox-container">
                    <input type="checkbox" id="showNewPassword" class="checkbox-custom">
                    <label for="showNewPassword" class="checkbox-label">Show Password</label>
                </div>
                <div class="error" id="newPasswordError"></div> 
            </div>
        </div>
        <div class="password-section">
            <label for="confirmPassword">Confirm Password:</label>
            <div class="password-container">
                <input type="password" id="confirmPassword" name="confirmPassword">
                <div class="password-checkbox-container">
                    <input type="checkbox" id="showConfirmPassword" class="checkbox-custom">
                    <label for="showConfirmPassword" class="checkbox-label">Show Password</label>
                </div>
                <div class="error" id="confirmPasswordError"></div> 
            </div>
        </div>
       </div>
</div>

    
    
    <div id="moreContent" class="content" style="display: none;">
        <!-- Widget 1 -->
        <div class="widget" id="widget-width">
          <a href="page1.html" class="widget-link">
            <div class="widget-content">
              <div class="widget-image">
                <img src="images/Feedback Reactions.gif" alt="Widget Image 1">
              </div>
              <div class="widget-text">
                <h3>Widget 1</h3>
                <p>Description for Widget 1</p>
              </div>
            </div>
          </a>
    </div>
        <div class="space"></div>
        <div class="space"></div>
        <!-- Widget 2 -->
        <div class="widget" id="widget-width">
          <a href="/feedback" class="widget-link">
            <div class="widget-content">
              <div class="widget-image" >
                <img src="images/rate.gif" alt="Widget Image 2">
              </div>
              <div class="widget-text">
                <h3>Rate Us!</h3>
                <p>Your opinion matters!</p>
              </div>
            </div>
          </a>
        </div>
      
        <!-- Add more widgets as needed -->
      </div>
      
  <div class="edit-btn">
    <a href="/editUser">
        <button>Edit User Profile</button>
    </a>
</div>


    <!--modal-->
    <div id="saveChanges-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Changes saved successfully!</p>
          <button id="closeModalBtn">Close</button>
        </div>
      </div>

      <!--feedback modal-->
      <div id="feedbackModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Thank you for your feedback!</p>
            <button id="closeFeedbackModalBtn">Close</button>
        </div>
    </div>

    <!--editModal-->
    <div id="editModal" class="editModal">
        <div class="edit-modal-content">
          <span class="close" onclick="closeEditModal()">&times;</span>
          <h2>Edit General Info</h2>
          <form id="editForm">
            <div class="input-group">
              <label for="editFirstName">First Name:</label>
              <input type="text" id="editFirstName" name="editFirstName">
              <div class="error" id="firstNameError"></div>
            </div>
            <div class="input-group">
              <label for="editLastName">Last Name:</label>
              <input type="text" id="editLastName" name="editLastName">
              <div class="error" id="lastNameError"></div>
            </div>
            <div class="input-group">
              <label for="editUsername">Username:</label>
              <input type="text" id="editUsername" name="editUsername">
              <div class="error" id="usernameError"></div>
            </div>
            <div class="input-group">
              <label for="editEmail">Email:</label>
              <input type="text" id="editEmail" name="editEmail">
              <div class="error" id="emailError"></div>
            </div>
            <div class="button-group">
                <button type="button" id="save" onclick="validateForm(editForm)">Save Changes</button>
              <button type="button" onclick="closeEditModal()" class="cancel-button">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      <div id="weightHeightModal" class="modal">
        <div class="weight-height-content">
            <span class="close" onclick="closeWeightHeightModal()">&times;</span>
            <h2>Edit Weight and Height</h2>
            <div>
                <label for="weight">Weight:</label>
                <input type="number" id="weightInput" step="0.1">
                <div class="error" id="weightError"></div>
                <select id="weightUnit">
                    <option value="kg">kg</option>
                    <option value="lbs">lbs</option>
                </select>
            </div>
            <div>
                <label for="height">Height:</label>
                <input type="number" id="heightInput" step="0.1">
                <div class="error" id="heightError"></div>
                <select id="heightUnit">
                    <option value="cm">cm</option>
                    <option value="feet">feet</option>
                </select>
            </div>
            <button onclick="saveWeightHeight()">Save Changes</button>
        </div>
    </div>

    <!-- The Modal -->
    <!-- Edit info modal -->
    <div id="editInfoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditInfoModal()">&times;</span>
            <h2>Edit Info</h2>
            <label for="editAge"><b>Age:</b></label>
            <input type="text" id="editAge" value="">
            <div class="error" id="ageError"></div>
            <div class="space"></div>
            <label for="editPhoneNumber"><b>Phone Number:</b></label>
            <div class="Space"></div>
            <div class="phone-input">
                <select id="countryCode">
                    <option value="+1">+1 (United States)</option>
                    <option value="+7">+7 (Russia)</option>
                    <option value="+20">+20 (Egypt)</option>
                    <option value="+27">+27 (South Africa)</option>
                    <option value="+30">+30 (Greece)</option>
                    <option value="+31">+31 (Netherlands)</option>
                    <option value="+32">+32 (Belgium)</option>
                    <option value="+33">+33 (France)</option>
                    <option value="+34">+34 (Spain)</option>
                    <option value="+36">+36 (Hungary)</option>
                    <option value="+39">+39 (Italy)</option>
                    <option value="+40">+40 (Romania)</option>
                    <option value="+41">+41 (Switzerland)</option>
                    <option value="+43">+43 (Austria)</option>
                    <option value="+44">+44 (United Kingdom)</option>
                    <option value="+45">+45 (Denmark)</option>
                    <option value="+46">+46 (Sweden)</option>
                    <option value="+47">+47 (Norway)</option>
                    <option value="+48">+48 (Poland)</option>
                    <option value="+49">+49 (Germany)</option>
                    <option value="+51">+51 (Peru)</option>
                    <option value="+52">+52 (Mexico)</option>
                    <option value="+53">+53 (Cuba)</option>
                    <option value="+54">+54 (Argentina)</option>
                    <option value="+55">+55 (Brazil)</option>
                    <option value="+56">+56 (Chile)</option>
                    <option value="+57">+57 (Colombia)</option>
                    <option value="+58">+58 (Venezuela)</option>
                    <option value="+60">+60 (Malaysia)</option>
                    <option value="+61">+61 (Australia)</option>
                    <option value="+62">+62 (Indonesia)</option>
                    <option value="+63">+63 (Philippines)</option>
                    <option value="+64">+64 (New Zealand)</option>
                    <option value="+65">+65 (Singapore)</option>
                    <option value="+66">+66 (Thailand)</option>
                    <option value="+81">+81 (Japan)</option>
                    <option value="+82">+82 (South Korea)</option>
                    <option value="+84">+84 (Vietnam)</option>
                    <option value="+86">+86 (China)</option>
                    <option value="+90">+90 (Turkey)</option>
                    <option value="+91">+91 (India)</option>
                    <option value="+92">+92 (Pakistan)</option>
                    <option value="+93">+93 (Afghanistan)</option>
                    <option value="+94">+94 (Sri Lanka)</option>
                    <option value="+95">+95 (Myanmar)</option>
                    <option value="+98">+98 (Iran)</option>
                    <option value="+234">+234 (Nigeria)</option>
                    <option value="+251">+251 (Ethiopia)</option>
                    <option value="+254">+254 (Kenya)</option>
                    <option value="+255">+255 (Tanzania)</option>
                    <option value="+256">+256 (Uganda)</option>
                    <option value="+260">+260 (Zambia)</option>
                    <option value="+263">+263 (Zimbabwe)</option>
                </select>
                <div class="Space"></div>
                <input type="text" id="editPhoneNumber" value="">
                <div class="error" id="numberError"></div>
            </div>
            <div class="space"></div>
            <button onclick="saveEditedInfo()">Save</button>
        </div>
    </div>
    
<!--     
        <script src="../public/js/user.js"></script>
        <script src="../public/js/home.js"></script>  -->

        
        <script src="\js\user.js"></script>
        <script src="\js/home.js"></script> 
        
        <script>
        showPassword('currentPassword', 'showCurrentPassword');
        showPassword('newPassword', 'showNewPassword');
        showPassword('confirmPassword', 'showConfirmPassword');
        </script>
</body>
</html>